# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global will be requested for
# review when someone opens a pull request.
* @HeyImChris @acoates-ms @Saadnajmi @amgleitman

# React Android specific ones
/ReactAndroid/ @mganandraj
/android-patches/ @mganandraj
