name: Prebuild macOS Dependencies

on:
  workflow_call: # this directive allow us to call this workflow from other workflows


jobs:
  build-rn-slice:
    runs-on: macos-14
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        flavor: ['Debug', 'Release']
        slice: ['macos']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Restore cache if present
        id: restore-macos-slice
        uses: actions/cache/restore@v4
        with:
          key: v1-macos-core-${{ matrix.slice }}-${{ matrix.flavor }}-${{ hashFiles('packages/react-native/Package.swift') }}-${{ hashFiles('packages/react-native/scripts/ios-prebuild/setup.js') }}
          path: packages/react-native/
      - name: Setup toolchain
        if: steps.restore-macos-slice.outputs.cache-hit != 'true'
        uses: ./.github/actions/microsoft-setup-toolchain
        with:
          platform: macos
          node-version: '22'
          xcode-developer-dir: '/Applications/Xcode_16.2.0.app'
      - name: Yarn Install
        if: steps.restore-macos-slice.outputs.cache-hit != 'true'
        run: yarn install
        shell: bash
      - name: Download Hermes
        if: steps.restore-macos-slice.outputs.cache-hit != 'true'
        continue-on-error: true
        uses: actions/download-artifact@v4
        with:
          name: hermes-darwin-bin-${{ matrix.flavor }}
          path: /tmp/hermes/hermes-runtime-darwin
      - name: Extract Hermes
        if: steps.restore-macos-slice.outputs.cache-hit != 'true'
        shell: bash
        run: |
          HERMES_TARBALL_ARTIFACTS_DIR=/tmp/hermes/hermes-runtime-darwin
          if [ ! -d $HERMES_TARBALL_ARTIFACTS_DIR ]; then
            echo "Hermes tarball artifacts dir not present ($HERMES_TARBALL_ARTIFACTS_DIR)."
            exit 0
          fi

          TARBALL_FILENAME=$(node ./packages/react-native/scripts/hermes/get-tarball-name.js --buildType "${{ matrix.flavor }}")
          TARBALL_PATH=$HERMES_TARBALL_ARTIFACTS_DIR/$TARBALL_FILENAME

          echo "Looking for $TARBALL_FILENAME in $HERMES_TARBALL_ARTIFACTS_DIR"
          echo "$TARBALL_PATH"

          if [ ! -f $TARBALL_PATH ]; then
            echo "Hermes tarball not present ($TARBALL_PATH). Build Hermes from source."
            exit 0
          fi

          echo "Found Hermes tarball at $TARBALL_PATH"
          echo "HERMES_ENGINE_TARBALL_PATH=$TARBALL_PATH" >> $GITHUB_ENV
      - name: Download ReactNativeDependencies
        continue-on-error: true
        uses: actions/download-artifact@v4
        with:
          name: ReactNativeDependencies${{ matrix.flavor }}.xcframework.tar.gz
          path: /tmp/third-party/
      - name: Extract ReactNativeDependencies
        if: steps.restore-macos-slice.outputs.cache-hit != 'true'
        shell: bash
        run: |
          # Extract ReactNativeDependencies
          tar -xzf /tmp/third-party/ReactNativeDependencies${{ matrix.flavor }}.xcframework.tar.gz -C /tmp/third-party/

          # Create destination folder
          mkdir -p packages/react-native/third-party/

          # Move the XCFramework in the destination directory
          mv /tmp/third-party/packages/react-native/third-party/ReactNativeDependencies.xcframework packages/react-native/third-party/ReactNativeDependencies.xcframework

          VERSION=$(jq -r '.version' package.json)
          echo "$VERSION-${{matrix.flavor}}" > "packages/react-native/third-party/version.txt"
          cat "packages/react-native/third-party/version.txt"
          # Check destination directory
          ls -lR packages/react-native/third-party/
      - name: Setup the workspace
        if: steps.restore-macos-slice.outputs.cache-hit != 'true'
        shell: bash
        run: |
          cd packages/react-native
          node scripts/ios-prebuild.js -s -f "${{ matrix.flavor }}"
      - name: Build React Native
        if: steps.restore-macos-slice.outputs.cache-hit != 'true'
        shell: bash
        run: |
          # This is going to be replaced by a CLI script
          cd packages/react-native
          node scripts/ios-prebuild -b -f "${{ matrix.flavor }}" -p "${{ matrix.slice }}"
      - name: Upload headers
        uses: actions/upload-artifact@v4
        with:
          name: prebuild-macos-core-headers-${{ matrix.flavor }}-${{ matrix.slice }}
          path:
            packages/react-native/.build/headers
      - name: Upload artifacts
        uses: actions/upload-artifact@v4.3.4
        with:
          name: prebuild-macos-core-slice-${{ matrix.flavor }}-${{ matrix.slice }}
          path: |
            packages/react-native/.build/output/spm/${{ matrix.flavor }}/Build/Products
      - name: Save Cache
        uses: actions/cache/save@v4
        if: ${{ github.ref == 'refs/heads/main' }} # To avoid that the cache explode
        with:
          key: v1-macos-core-${{ matrix.slice }}-${{ matrix.flavor }}-${{ hashFiles('packages/react-native/Package.swift') }}-${{ hashFiles('packages/react-native/scripts/ios-prebuild/setup.js') }}
          path: |
            packages/react-native/.build/output/spm/${{ matrix.flavor }}/Build/Products
            packages/react-native/.build/headers

  compose-xcframework:
    runs-on: macos-14
    timeout-minutes: 60
    needs: [build-rn-slice]
    strategy:
      fail-fast: false
      matrix:
        flavor: ['Debug', 'Release']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Restore cache if present
        id: restore-macos-xcframework
        uses: actions/cache/restore@v4
        with:
          path: packages/react-native/.build/output/xcframeworks
          key: v1-macos-core-xcframework-${{ matrix.flavor }}-${{ hashFiles('packages/react-native/Package.swift') }}-${{ hashFiles('packages/react-native/scripts/ios-prebuild/setup.js') }}
      - name: Setup toolchain
        if: steps.restore-macos-xcframework.outputs.cache-hit != 'true'
        uses: ./.github/actions/microsoft-setup-toolchain
        with:
          platform: macos
          node-version: '22'
          xcode-developer-dir: '/Applications/Xcode_16.2.0.app'
      - name: Yarn Install
        if: steps.restore-macos-xcframework.outputs.cache-hit != 'true'
        run: yarn install
        shell: bash
      - name: Download slice artifacts
        if: steps.restore-macos-xcframework.outputs.cache-hit != 'true'
        uses: actions/download-artifact@v4
        with:
          pattern: prebuild-macos-core-slice-${{ matrix.flavor }}-*
          path: packages/react-native/.build/output/spm/${{ matrix.flavor }}/Build/Products
          merge-multiple: true
      - name: Download headers
        if: steps.restore-macos-xcframework.outputs.cache-hit != 'true'
        uses: actions/download-artifact@v4
        with:
          pattern: prebuild-macos-core-headers-${{ matrix.flavor }}-*
          path: packages/react-native/.build/headers
          merge-multiple: true
      - name: Create XCFramework
        if: steps.restore-macos-xcframework.outputs.cache-hit != 'true'
        run: |
          cd packages/react-native
          node scripts/ios-prebuild -c -f "${{ matrix.flavor }}"
      - name: Compress and Rename XCFramework
        if: steps.restore-macos-xcframework.outputs.cache-hit != 'true'
        run: |
          cd packages/react-native/.build/output/xcframeworks/${{matrix.flavor}}
          tar -cz -f ../ReactCoreMacOS${{matrix.flavor}}.xcframework.tar.gz React.xcframework
      - name: Compress and Rename dSYM
        if: steps.restore-macos-xcframework.outputs.cache-hit != 'true'
        run: |
          cd packages/react-native/.build/output/xcframeworks/${{matrix.flavor}}/Symbols
          tar -cz -f ../../ReactCoreMacOS${{ matrix.flavor }}.framework.dSYM.tar.gz .
      - name: Upload XCFramework Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ReactCoreMacOS${{ matrix.flavor }}.xcframework.tar.gz
          path: packages/react-native/.build/output/xcframeworks/ReactCoreMacOS${{matrix.flavor}}.xcframework.tar.gz
      - name: Upload dSYM Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ReactCoreMacOS${{ matrix.flavor }}.framework.dSYM.tar.gz
          path: packages/react-native/.build/output/xcframeworks/ReactCoreMacOS${{matrix.flavor}}.framework.dSYM.tar.gz
      - name: Save cache if present
        if: ${{ github.ref == 'refs/heads/main' }} # To avoid that the cache explode
        uses: actions/cache/save@v4
        with:
          path: |
            packages/react-native/.build/output/xcframeworks/ReactCoreMacOS${{matrix.flavor}}.xcframework.tar.gz
            packages/react-native/.build/output/xcframeworks/ReactCoreMacOS${{matrix.flavor}}.framework.dSYM.tar.gz
          key: v1-macos-core-xcframework-${{ matrix.flavor }}-${{ hashFiles('packages/react-native/Package.swift') }}-${{ hashFiles('packages/react-native/scripts/ios-prebuild/setup.js') }}
